@mixin frontsmall($value: rgba(0, 0, 0, 0.65)) {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: $value;
}
@mixin frontbig($value: 18px) {
font-size: $value;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: rgba(0, 0, 0, 0.85);
}
@mixin whitebtn {
padding: 0px 16px;
border-radius: 2px;
height: 32px;
border: 1px solid #1890ff;
@include frontsmall(#1890ff);
}
@mixin bluebtn {
padding: 0px 16px;
height: 32px;
background: #1890ff;
border-radius: 2px;
@include frontsmall(#ffffff);
}

// 固定分页
/deep/.el-pagination{
    position:fixed;
    bottom: 50px;
    // background: #ffffff;
    z-index: 0;
}
/deep/.el-table{
    z-index: 999;
}
// 分页
/deep/ .block {
margin-top: 100px;
text-align: right;
margin-bottom: 26px;
display: flex;
justify-content: flex-end;
.btn-prev {
    width: 32px;
    height: 32px;
    padding: 0px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
.number {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    margin-left: 8px;
}
.el-input__inner{
    height: 32px;
    line-height: 32px;
}
.el-pagination__total{
    height: 32px;
    line-height: 32px;
}
.btn-next{
    width: 32px;
    height: 32px;
    padding: 0px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    margin: 0px 8px;
}
.el-pagination__jump{
    margin-left: 0px;
    height: 32px;
    line-height: 32px;
}

}