@mixin frontsmall($value: rgba(0, 0, 0, 0.65)) {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: $value;
}
@mixin frontbig($value: 18px) {
font-size: $value;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: rgba(0, 0, 0, 0.85);
}
@mixin whitebtn {
padding: 0px 16px;
border-radius: 4px;
height: 32px;
border: 1px solid #FB4702;
@include frontsmall(#FB4702);
}
@mixin bluebtn {
padding: 0px 16px;
height: 32px;
background: #1890ff;
border-radius: 4px;
@include frontsmall(#ffffff);
}
@mixin orangebtn {
  padding: 0px 16px;
  height: 32px;
  line-height: 32px;
  background: #FB4702;
  border-radius: 4px;
  @include frontsmall(#ffffff);
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.red {
  color: red !important;
}
.orangeCricle{
  display: inline-block;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  background: #FF9700;
}
.redCricle{
  display: inline-block;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  background: #FF0000;
}
.greenCricle{
  display: inline-block;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  background: #3CBB00;
}
// 按钮
body{ 
  .blue{
    color: #0084FFFF;
    font-size: 14px;
    cursor: pointer;
}
  .long1{
    width: 82px;
  }
  .long2{
    width: 110px
  }
  .orangeBtn {
    @include orangebtn();
  }
  .wuBtn {
    padding: 0px 16px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    @include frontsmall(#000);
  }
  .whiteBtn {
    @include whitebtn();
  }
  .btn-orange,
  .btn-gray {
      cursor: pointer;
      height: 34px;
      font-size: 14px;
      outline: none;
      border: none;
      color: #ffffff;
      border-radius: 4px;
      transition: 0.2s;
      margin-right: 8px;
      padding: 0 20px;
      i {
          padding-right: 3px;
      }
      &:hover {
          opacity: 0.8;
      }
  }
  .btn-orange {
      background: #fb4702;
  }
  .btn-gray {
      background: #c2c2c2;
  }



  // flex 样式
  .flex {
    display: flex;
  }
  .flex-direction {
    justify-content: space-around;
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .self-start {
    align-self: flex-start;
  }
  
  .self-center {
    align-self: center;
  }
  
  .self-end {
    align-self: flex-end;
  }
  
  .self-stretch {
    align-self: stretch;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
}

// 标签页
.title{
  background: #fff;
  font-weight: 500;
  border-bottom: 1px solid #D8D8D8;
  .text{
    width: 150px;
  }
  .el-tabs{
    .el-tabs__header{
      margin: 0px;
    }
    .is-active{
      @include frontbig(14px);
      color: #FE822F;
      border-bottom: 2px solid #FE822F !important;
      // padding-left: 34px !important;
    }
  }
}

.content{
  padding: 20px 30px;
  background: #fff;
}

// 搜索栏样式
.searchbox1{
  margin-bottom: 15px;
  .colbox{
    display: flex;
    margin-bottom: 15px;
    .text{
      @include frontsmall();
      line-height: 32px;
      margin-right: 10px;
    }
    .el-input__inner{
      height: 32px;
      line-height: 32px;
    }
  }
}

// 表格多选颜色
.table{
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #FE822F;
    border-color: #FE822F
  }
}
/* 消息提示 */

.el-message.message_pass{
  height: 32px;
  background: #52C41A;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  border-color: #52C41A;
}
.el-message.icons{
  visibility: hidden;
}
.el-message__content{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
}
.el-message.message_reject{
  height: 32px;
  background: #FF0000;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  border-color: #FF0000;
}
.el-message.message_error{
  height: 32px;
  background: #FF7D44;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  border-color:#FF7D44;
}
// drawer
/* 抽屉盒子 */
#el-drawer__title{
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: #333333FF;
  font-weight: 500;
}
.drawer-box {
  width: 100%;
  height: 100vh;
  background: #e8ebf2;
  position: relative;
}
/* 头部 */
.dra-header {
  padding-left: 20px;
  line-height: 81px;
  height: 81px;
  background: #ffffff;
}
/* 底部 */
.dra-footer {
  width: 100%;
  /* position: absolute; */
  background: #ffffff;
  text-align: left;
  /* bottom: 0; */
}
/* 底部内容 */
.dra-footer-content {
  padding-left: 20px;
  line-height: 81px;
  height: 81px;
}
/* 头部title */
.dra-header span {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 22px;
}
/* 主体 */
.dra-body {
  width: 100%;
  height: calc(100vh - 162px);
  overflow: auto;
  background-color: #E8EBF2FF;
}
/* 主体内容 */
.dra-content {
  margin: 32px 30px 30px 30px;
  border-radius: 4px;
  background: white;
}
/* 主体title */
.content-titel {
  height: 50px;
  line-height: 50px;
  padding-left: 22px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e8e8e8;
}
/* 主体title span */
.content-titel span {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
}
.dra-submit,
.dra-cancel {
  cursor: pointer;
  height: 34px;
  font-size: 14px;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.2s;
  margin-right: 10px;
}
.dra-submit span {
  padding-left: 7px;
}
.dra-submit {
  width: 89px;
  background: #fb4702;
}
.dra-cancel {
  width: 68px;
  background: #c2c2c2;
}